let mapleader = ","

set ignorecase
set smartcase
set hlsearch
set NERDTree
set easymotion
set surround
set ideajoin

set clipboard=unnamed,unnamedplus
set clipboard+=ideaput

inoremap jj <Esc>

nmap s <Plug>(easymotion-s)
nmap <leader>j :NERDTreeToggle<cr>
nmap <leader>fo <Action>(ReformatCode)
nmap <space>ff <Action>(GotoFile)
nmap <space>dd :NERDTreeFind<cr>
nmap <space>q :q<cr>

" grade project
nmap <space>as <Action>(Android.SyncProject)
nmap <space>ar <Action>(RebuildGradleProject)

nmap ]g <Action>(GotoNextError) 
nmap [g <Action>(GotoPreviousError)

imap <c-l> <action>(EditorChooseLookupItem)
cnoremap <c-l> <cr>

command! SV source ~/.ideavimrc

